<!--
  下記ページをベースにしています
  https://angular.jp/start
  https://angular.jp/generated/live-examples/getting-started-v0/stackblitz.html
-->
<!--
テンプレート構文

|構文                                                    |記法                                                             |サニタイズ
|--------------------------------------------------------|-----------------------------------------------------------------|-------------
|テンプレート自体                                        |htmlと同等                                                       |されない
|補間(Interpolation)                                     |{{ expression }}、属性="{{ expression }}"                        |される
|テンプレート文(テンプレート上で認識されるtsの詳細)      |テンプレートに制御を書くのはアンチパターンなので略               |-
|プロパティバインディングを使用しない(文字列リテラル)    |formControlName="stringLiteral"                                         |-
|プロパティバインディング                                |[プロパティ]="expression"                                        |される
|属性バインディング                                      |[attr.属性]="expression"                                         |される
|Classバインディング-単一                                |[class.クラス名]="boolExpression"                                |される
|Classバインディング-マルチ(v9以降からサポート)          |[class]="json or stringList"                                     |される
|Styleバインディング-単一                                |[style.CSSプロパティ]="expression"                               |される
|Styleバインディング-マルチ(v9以降からサポート)          |[style]="json or stringList"                                     |される
|Eventバインディング                                     |(click)="foo($event)"                                            |-
|Built-in directives Htmlイベント                        |click, focus, blur, dblclick など                                |-
|Built-in directives Htmlイベント(キーボード)            |keydown.shift.t、keydown.code.shiftleft.altleft.keyt など        |-
|テンプレート参照変数(HtmlElement)                       |#bar                                                             |-
|テンプレート参照変数(ngFormディレクティブ)              |#baz="ngForm"                                                    |-
|Built-in directives ngClass(v8以前からあるやつ)         |Classバインディング-マルチとほぼ同一                             |される
|Built-in directives ngStyle(v8以前からあるやつ)         |Styleバインディング-マルチとほぼ同一                             |される
|Built-in directives ngModel                             |双方向バインディング2を参照のこと                                |される
|Built-in directives ngIf                                |*ngIf="expression"                                               |-
|Built-in directives ngFor                               |*ngFor="let todo of todos"                                       |-
|Built-in directives ngFor                               |*ngFor="let todo of todos; let i = index; trackBy: quxHandler"   |-
|Built-in directives ngForm(formに対して暗黙に有効)      |[ngFormOptions] など                                             |-
|Input & output @Input()                                 |[@Input()なプロパティ]="expression"                              |される
|Input & output @Output()                                |(@Output()なEventEmitterプロパティ)="foo($event)"                |-
|Input & output @Output()(式を直接記載)                  |(@Output()なEventEmitterプロパティ)="expression"                 |-
|Input & output 双方向バインディング1                    |[(@Inputなxおよび@OutputなxChangeプロパティ)]="プロパティ"       |される
|Input & output 双方向バインディング2                    |[(ngModel)]="プロパティ"                                         |される
|ngOnChanges(changes: SimpleChanges)                     |@Input()なプロパティに対するイベントハンドラ                     |-
|@ViewChildren                                           |子コンポーネントのインスタンスを直接持ちたい場合（密結合。注意） |-
|@ContentChildren                                        |ng-contentの内容を直接持ちたい場合（蜜結合。注意）               |-
|パイプ                                                  |後述                                                             |-

セキュリティ要約

```text
可能な限り、Angularの補間やバンディングに頼ってください。直接DOMとやり取りしないでください
補間ならば文字参照に置換、バインディングならscriptやonerrorの記載を取り除きます

1. 既定のトランスパイラを使用せずにテンプレート自体を動的に生成する、などのアプローチはサニタイズされないので止めてください  
2. 部分的なサーバサイドレンダリング等も同様の問題を抱えるため、可能なら避けてください
3. Angularのバインディングや補間に頼らず、ネイティブのDOM APIを操作すると保護されません

組み込み済みコンポーネント抜粋（=独自タグ）

|コンポーネント              |役割
|----------------------------|-----------------------------------------------
|router-outlet               |ルーティングされるページの置き換え位置
|ng-content                  |componentが子タグを受け入れれる際の置き換え位置
|ng-template と ng-container |条件付きで表示する場合に使用。かなり冗長

各種補足

1. コンポーネントやディレクティブを自作する際、selector名とプロパティ名を同名にすると、利用側はselector名を省略可能
2. Html自体の属性やプロパティは、適当なHtmlのヘルプを参照のこと
3. Html自体の属性やプロパティは直接記述せず、各種バインディングすること（Angularの機能を使うことでXSS対策になる）
4. bind-xxxは[xxx]の別の書き方。同じ意味
5. on-xxxは(xxx)の別の書き方。同じ意味
6. bindon-xxxは[(xxx)]の別の書き方。同じ意味
7. バインディング等の右辺の記述は、厳密には式のみ許容（式コンテキスト）、複数の文を許容するもの（文コンテキスト）がある
```

その他のテンプレート構文機能

- パイプ
    - {{ title | uppercase }}
    - Asyncパイプ
        - "*ngFor="let hero of heroes$ | async"
- Null条件演算子（Safe navigation operator）
    - {{ foo?.name }}
    - テンプレート中ではTypescript3.6以前でも使用可能（特別な処理がなされている）
- anyにキャスト
    - {{ $any(foo).name }}
-->

<h2>Products</h2>
<div *ngFor="let product of products">
  <h3><a [title]="product.name + ' details'">{{ product.name }}</a></h3>
  <p *ngIf="product.description">Description: {{ product.description }}</p>
  <p>{{ product.price | currency : "USD" }}</p>
  <button type="button" (click)="share()">Share</button>
  <app-sample01-template-alerts [product]="product" (notify)="onNotify()"></app-sample01-template-alerts>
</div>
<hr>
<h2>Add Products</h2>
<button (click)="addProduct()">Add</button>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->